.map-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.marker {
  background-image: url('../public/icons/ship-marker.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}


.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  margin-right: 40px;
  background-color: #404040;
  color: red;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  
}
